.modal-background{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(35, 34, 34, 0.217);
    backdrop-filter: blur(2px);
    box-shadow: 0px 5px 50px rgba(142, 141, 141, 0.722);
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container{
    width: 65%;
    max-width: 500px;
    height: 90vh;
    border-radius: var(--border-radius);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* display: flex;
    flex-direction: column; */
    padding: 15px 25px;
}

.gird-item-name{
    grid-area: grid-item-name;
}
.gird-item-email{
    grid-area: grid-item-email;
    
}
.gird-item-phone{
    grid-area: grid-item-phone;
}
.gird-item-msg{
    grid-area: grid-item-msg;
}
.submit-btn{
    grid-area: grid-item-btn;
}

 .modal-form-container{
    display: grid; 
    grid-auto-rows: 6 / 1 fr;
    grid-template-columns: 1fr;
    grid-template-areas:    
                            "grid-item-name"
                            "grid-item-email"
                            "grid-item-phone"
                            "grid-item-msg"
                            "grid-item-msg"
                            "grid-item-btn";
}



@media only screen and (min-width: 1200px){

    .modal-container{
        max-width: 900px;
    }
    
    .modal-form-container{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "grid-item-name grid-item-msg"
                            "grid-item-email grid-item-msg"
                            "grid-item-phone grid-item-btn";

    }
}



.close-btn {
    display: flex;
    justify-content: flex-end;
  
}

.close-btn button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: black;
    margin: 0;
}

.modal-title{
    text-align: left;
    /* padding: 20px; */
    font-weight: 500;
    font-size: 26px;
    /* line-height: 48px; */
    margin: 10px;
    }

    .modal-title h3 {
        margin: 0;
    }

    .modal-title  p {
        margin: 15px 0 15px 10px;
        font-weight: 400;
    }


.modal-body {
    /* flex: 50%; */
    text-align: left;
    /* padding: 20px; */
}

/* .modal-footer {
    
    display: flex;
    justify-content: flex-end;
  } */
  
  /* .modal-form-container{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    /*as i have text-alig left for the moda-body - it is also good for the labels - there is not working this styling)*/
   /*
   }

   .form-left{
    padding-right: 50px; 
  } */



