@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;400;500;600&family=Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}
/*does it make sense to use this * styling oin react  or just in JS project? would it be the#root instead to apply this styling*/

:root{
  --primary-dark:black;
  --primary-light: rgb(240, 240, 240);
  --pink: rgba(252,70,107,1);
  --blue: #3f5efb; 
  --light-shade-blue: #6878ff;
  --light-hover-shade-blue: #cfcdff;
  --border-radius: 24px;
  --gradient: linear-gradient(45deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

#root {
  width: 100%;
  margin: 0;
  /* font-family: 'Epilogue', sans-serif;
  font-weight: 400px; */
  text-align: center;
}

a {
  font-size: 16px;
  line-height: 24px;
  color:var(--primary-light);
  text-decoration: none;
  margin: 0;
  text-align: left;
}

a:hover{
  /* color: #aca5db; */
  color: #cfcdff;
}

h1, h3{
  line-height: 50px;
}

h1 {
  font-size: 52px;
  font-weight: 500;
}

h2{
  font-size: 40px;

}

h3{
  font-size: 36px;
  font-weight: 400;
}

h4{
  font-size: 24px;
  font-weight: 300;
}

h5{
  font-size: 20px;
}

p{
  font-size: 20px;
  line-height: 32px;
  margin: 0;
}

html {
  overflow-y: scroll;
}

.App {
  position:relative;
  z-index: 1;
}

input, textarea {
  background: #FFFFFF;
  border-radius: 12px;
  border: 1px solid #CED3D8;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  padding: 12px 20px;
  margin: 15px;
  width: 25vw;
}

label{
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: black;
  margin: 0 15px;
}

button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 20px;  
  line-height: 20px;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--blue);
  /* background:linear-gradient(135deg,#00F5A0 0%,#00D9F5 100%); */
  color: white;
  margin: 20px;
}

button:hover {
  cursor: pointer;
  background-color: #6878ff;
  /*   */
}

/*----------------------------styling Navbar -----------------------*/

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  /* background: linear-gradient(90deg, hsla(280, 95%, 57%, 1) 0%, hsla(193, 90%, 55%, 1) 100%); */
  /* background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%); */
  /* background: linear-gradient(90deg, #00CEE0 0%, #bb1cff 100%); */
  /* background: linear-gradient(300deg, rgba(99,182,204,1) 20%, rgba(163,111,205,1) 60%); */
  /* background:linear-gradient(90deg,#227B56 0%,#66B790 100%); */
  /* background:linear-gradient(125deg,#870FFF 0%,#F89B29 100%); */
  /* background:linear-gradient(135deg,#00F5A0 0%,#00D9F5 100%); */
  background: linear-gradient(45deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  padding: 0 20px;
}

.navbar-logo{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo{
  font-size: 24px;
}

.logo-icon{
  width: 20%;
  position: relative;
  top: -5px;
  /* padding: 16px 5px; */
}

.navigation{
  display: flex;
  align-items: center;/* - i dont need ias I have on navbar align items: center*/
  justify-content: flex-end/*- i dont need as I have on navbar justify-content: space-between */
 }

 .navbar .navigation .links a,
 .navbar > div > p, 
 .navbar > div > a{
  padding: 0 16px;
}

.navbar .navigation #hidden{
  display: flex;
}

.navigation button{
  display: none;
  /* margin: 0 16px;*/
} 

/* .hamburger{
  display: none;
}

.navigation a {
  display: ${hamburgerOpen ? 'inline' : 'none'};
  
} */

/*--------------------------------Styling Hero Section------------------------------------*/

.hero-title{
  margin: 0;
}
/* .hero-bg-image{
  height: 45vh;
  z-index: -1;
  background:  rgba(0, 0, 0, 0.535);
  background-image: url("/cover-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
} */

/* .hero-text-box{
  /* background: rgba(0, 0, 0, 0.5); */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* position: absolute;
  top: 28.25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  width: 100%;
  height: 45vh;
  padding: 40px;
  text-align: center;
}  */

.bg-image{
  height: 45vh;
  width: 100%;
  background-image: url("/cover-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(2px); 
  -webkit-filter: blur(2px); */
}

.img-overlay{
  height: 45vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
/* --- entwieder i apply blur hier in diesn Konstrukt, dann Text is auch geblurt. 
  oder benutze den Konstruk above--auskommentiert--, dann aber funktioniert der bg-color on the img nicht ---*/
  /* filter: blur(2px); 
  -webkit-filter: blur(2px); */
}

/*-----------styling the 1. Section (SectionCompare) Part of the HomePage ---------*/

.section-compare-box{
  background-color:  rgba(63, 94, 251, 0.10);
  border-radius: var(--border-radius);
  margin: 40px;
  padding: 20px;
}

.section-flex-container{
  display: flex;
  align-items: center;
}

.flex-item-column{
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin: 20px;
}

/*-------------------styling the 2. Section (SectionDesktop) Part of the HomePage---------*/

.section-container{
  display: flex;
  justify-content: space-around;
  text-align: left;
  color:rgb(240, 240, 240);
  padding: 50px 100px;
}

.blue{
  background-color: var(--blue);
}

.dark{
  color: var(--primary-dark);
}

.section-left{
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* .heart{
 color:  rgba(252,70,107);
  
} */

.fa-icons{
  line-height: 2em;
  padding: 0 15px 0 30px;
  color: var(--light-shade-blue)
  /* color:#7980ff; */
}

.favorites-title{
  line-height: 40px;
  margin-top: 0;
  font-size: 1.75em;
}

.real-estate > h3{
  line-height: 40px;
  margin-top: 0;
  font-size: 1.75em;
}

 .favorites > h3{
  line-height: 40px;
  margin-top: 0;
  font-size: 1.75em;
}

.section-left-icons {
  display: flex;
  justify-content:space-around;
  align-items: flex-start;
  padding: 20px;
 
}
.section-left-icons > img{
  margin: 0 10px;
}
.img-person{
  position: relative;
  bottom: -55px;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 80%;
}

/* .bg-section-right{
  height: 100%;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80);
  background-position: center;
  background-repeat: no-repeat;  
} */

/*-------------styling the CTA section Part of the Home Page-------------*/


.cta-icons-container{
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.cta-icons-container > p > span {
  margin: 20px;
  vertical-align: text-bottom;
}

.keep-in-touch{
  max-width: 450px;
}

#cta-input{
  margin-left: 0;
}

.fa-brands{
  padding: 0px 10px 0px 0;
}

/*-----------------------------------styling the footer------------------------------------*/

footer{
  height: auto;
  width: 100%;
}

.footer{
  background: black;
}

footer > p, .links-right > p{
  color:var(--primary-light);
}

.links-left, .links-right{
  padding: 30px 10px;
}

.links-right{
  display: flex;
}


/*-----------------------------------city property grid Cards-----------------------------*/

.city-property-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,  minmax(320px, 1fr ));
  grid-gap: 2.5em;
  padding: 5em;
}


  .property-list-card {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center;  */
   position: relative;
   text-align: center;
   
  }

  .property-bg-img{
    width: 100%;
    height: 52%;
    border-radius: 24px 24px 0px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .property-list-details{
    width: 100%;
    height: 48%;
    /* border-radius: 24px; */
    color: rgb(252, 250, 250);
  
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    /* vertical-align: bottom;
    padding-top: 50px;
    text-align: center; */
    /* letter-spacing: 1.5px;; */
  }

  .property-price-and-details{
    width: 100%;
    height: 32%;
    background: linear-gradient(100deg, rgba(0,255,135,1) 0%, rgba(96,239,255,1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .pr-price{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
  }

  .pr-details{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
   }

   .pr-type-address{
    border: solid 0.5px #CED3D8;
    height: 43%;
    color: black;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   }

   .property-view-btn{
    width: 100%;
    height: 25%;
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;;
    background-color: #FFFFFF;
    margin: 0;
    border: none;
    vertical-align: bottom;
    border-radius: 0 0 24px 24px;
    border: solid 0.5px #CED3D8;

   }

/*----------------------home details styling ---------------*/

.home-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px ;
    padding: 80px;
    justify-content: center;
    /* align-items: center; */
    max-width: 2000px
   }

.home-grid-item{
  text-align: left;
    border: 1px dashed rgba(74, 152, 161, 0.8);
    display: flex;
    flex-direction: column;
    width: 100%;

   }

.main-image{
  width: 100%;
  border-radius: var(--border-radius);
  height: 400px; /*hier height more resposnsive*/
   }

.small-images-box{
  width: 100%;
  display: flex;
}

.small-image{
  border-radius: var(--border-radius);
  width: 32%;
  margin: 5px;

}
 .details{
  padding: 20px;
  border: solid 0.5px #CED3D8;
  border-radius: var(--border-radius);
  height: 80%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
 }

 .buttons{
  /* display: flex;
  flex-direction: row; */
  justify-content: center;
  /* flex-basis: 100%; */
  width: 100%;
 }

 .home-details-flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* border-top: 0.5px black solid; */
 }

 .details-flex-items{
 
  display: flex;
  flex-direction: column;
  flex: 0 0 160px;
 
  /* width: 160px; */
  margin: 10px;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
 }

 .details-flex-items > p{
  font-size: 16px;
 }

 .home-details-h3{
  font-size: 30px;
  font-weight: 400;
  /* line-height: 48px; */
  height: 25%;

 }

 .p-color{
  color: var(--blue);
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }

 .pr-flex-item{
  display: flex;
  justify-content: space-between;
  margin: 10px;
 }

 .p-desc{
  width: 80%;
  line-height: 44px;
 }

.detailedPageTestMimi {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:rgb(200, 50, 230) solid 2px; */
}


@media only screen and (max-width: 1200px){
  /*Tablets [601px -> 1200px]*/
  body{
    width: 100%;
}
  h1{
    font-size: 40px;
  }
  h3{
    font-size: 32px;
  }

  .logo {
    font-size: 20px;
  }

  /*-------------CTA section on the Homepage ----------------*/

  .section-container{
    padding: 20px;
  }
  .section-container > div, input{
    width: 300px;
  }
  .section-title{
    font-size: 24px;
  }

   /*-------------Footer ----------------*/
   .footer{
    align-items: flex-end;
  }
 .links-left{
  display: flex;
  flex-direction: column;
  align-items: start;
 }
}

@media only screen and (max-width: 1000px){

  .section-flex-container{
    display: flex;
    flex-direction: column;
  }
  .flex-item-column{
    width: 70%;
  }

}

@media only screen and (max-width: 600px){
/*Big smartphones [426px -> 600px]*/
  body{
    width: 100%;
  }

  .navigation button{
    display: flex;
  }

  .navbar .navigation .links {
   display: none;
  } 

  .navbar .navigation #hidden{
    position: absolute;
    left: 0;
    top: 90px;
    height: 280px; /* or auto*/
    /* max-height: 280px; */
    width: 100%;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .navbar .navigation #hidden a{
    margin: 10px;
    font-size: 20px;
  }


  /* .navbar{
    padding: 0 5px;
  }

 .navbar > div > a,
 .navbar > div > p{
  padding: 0 5px;
 } */

  /* .hamburger{
    display: fixed;
    padding-top: 10px;
    margin-left: 10px;
    z-index: 10;
  } */

  .hamburger-btn{
    background-color: transparent;
    margin: 10px;
  }

  .hamburger-btn:hover{
    background-color:  #a49dd3;
  }

/*----------------------------------CTA section on the Homepage---------------------------*/
.section-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /*under 700px would be better*/
}

 .fa-brands{
    padding: 0px 10px 0px 0;
  }

/*------footer-------*/
  .links-right a, p{
    font-size: 16px;
  }

}
