:root {
  /* font-family: 'Poppins', sans-serif; */
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
}

#root {
  width: 100%;
  margin: 0;
  font-family: 'Epilogue', sans-serif;
  text-align: center;
}

.logo {
  /* height: 6em; */
  /* padding: 1em; */
  margin: 15px 0;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #8261fbaa);
}

a {
  /* font-weight: 500; */
  /* color: #646cff; */
  font-size: 16px;
  line-height: 24px;
  color:rgb(240, 240, 240);
  text-decoration: inherit;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

html {
  overflow-y: scroll;
}

.App {
  position:relative;
  z-index: 1;
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  background: rgb(63,94,251);
  background: linear-gradient(45deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  padding: 0 20px;
}

.navbar-logo{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-icon{
  width: 20%;
  position: relative;
  top: -5px;
  /* padding: 16px 5px; */
}

nav > div > a,
 .navigation > div > a,
 .navigation > div > p{
  padding: 0 1em;
}

.hero-title{
  margin: 0;
}

.hero-text-box{
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/cover-img.png");
  background-repeat: no-repeat;
  backdrop-filter: blur(2px);
  background-size: cover;
  color: white;
  
}

footer{
  height: 100px;
}


.links-right{
  display: flex;
}

.links-right > p{
  color:rgb(240, 240, 240);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;  
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  transition: border-color 0.25s;
}

.card {
  padding: 2em;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

