@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;400;500;600&family=Poppins&display=swap');

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  height: 100%;
}

* {
  box-sizing: border-box;
}
/*does it make sense to use this * styling oin react  or just in JS project? would it be the#root instead to apply this styling*/

:root{
  --primary-dark:black;
  --primary-light: #f5f5f5;
  /* --yellow:rgba(253, 187, 45, 0.5);*/
  --pink: rgba(252,70,107,1);
  --blue: rgba(63,94,251,1); 
  --border-radius: 24px;
  --gradient: linear-gradient(45deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

#root {
  width: 100%;
  margin: 0;
  /* font-family: 'Epilogue', sans-serif;
  font-weight: 400px; */
  text-align: center;
 
}

a {
  font-size: 16px;
  line-height: 24px;
  color:rgb(240, 240, 240);
  text-decoration: none;
  margin: 0;
}

h1, h3{
  line-height: 1.1;
}

h1 {
  font-size: 3.2em;
  font-weight: 500;
}

h2{
  font-size: 2.5em;

}

h3{
  font-size: 2.25em;
}

h4{
  font-size: 1.5em;
  font-weight: 300;
}

h5{
  font-size: 20px;
}

p{
  font-size: 20px;
  line-height: 32px;
  margin: 0;
}

html {
  overflow-y: scroll;
}

.App {
  position:relative;
  z-index: 1;
}

input, textarea{
  background: #FFFFFF;
  border-radius: 12px;
  border: 1px solid #CED3D8;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  padding: 12px 20px;
  margin: 15px;
  width: 25vw;
    /* width: 100%; */ /* still not fully resposnive, to check*/
}

label{
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: black;
  margin: 0 15px;
}

.logo {
  font-size: 1.5em;
  /* height: 6em; */
  /* padding: 1em; */
  margin: 15px 0;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #aeafc3aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #bfb9d5aa);
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  background: rgb(63,94,251);
  background: linear-gradient(45deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  padding: 0 20px;
}

.navbar-logo{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-icon{
  width: 20%;
  position: relative;
  top: -5px;
  /* padding: 16px 5px; */
}

nav > div > a,
 .navigation > div > a,
 .navigation > div > p{
  padding: 0 1em;
}

.hero-title{
  margin: 0;
}
/* .hero-bg-image{
  height: 45vh;
  z-index: -1;
  background:  rgba(0, 0, 0, 0.535);
  background-image: url("/cover-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
} */

/* .hero-text-box{
  /* background: rgba(0, 0, 0, 0.5); */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* position: absolute;
  top: 28.25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  width: 100%;
  height: 45vh;
  padding: 40px;
  text-align: center;
}  */

.bg-image{
  height: 45vh;
  width: 100%;
  background-image: url("/cover-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(2px); 
  -webkit-filter: blur(2px); */
}

.img-overlay{
  height: 45vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
/* --- entwieder i apply blur hier in diesn Konstrukt, dann Text is auch geblurt. 
  oder benutze den Konstruk above--auskommentiert--, dann aber funktioniert der bg-color on the img nicht ---*/
  /* filter: blur(2px); 
  -webkit-filter: blur(2px); */
}

.section-container{
  display: flex;
  justify-content: space-around;
  text-align: left;
  color:rgb(240, 240, 240);
  padding: 50px 100px;
}

.blue{
  background-color:  rgba(63,94,251,01);
}

.dark{
  color: var(--primary-dark);
}

.section-left{
  display: flex;
  flex-direction: column;
}

.heart{
 color:  rgba(252,70,107);
  
}

.favorites-title{
  line-height: 40px;
  margin-top: 0;
  font-size: 1.75em;
}

.real-estate > h3{
  line-height: 40px;
  margin-top: 0;
  font-size: 1.75em;
}

 .favorites > h3{
  line-height: 40px;
  margin-top: 0;
  font-size: 1.75em;
}

.section-left-icons {
  display: flex;
  justify-content:space-around;
  align-items: flex-start;
  padding: 20px;
 
}
.section-left-icons > img{
  margin: 0 10px;
}
.img-person{
  background: url("/person.png");
  position: relative;
  bottom: -55px;

}

/* .fa-icons, .fa-names{
  display: flex;
  flex-direction: column;
} */

/* .material-symbols-outlilned{
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
} */

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}


.cta-icons-container{
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.cta-icons-container > p > span {
  margin: 20px;
  vertical-align: text-bottom;
}


footer{
  height: 100px;
}

.links-right{
  display: flex;
}

.links-right > p{
  color:rgb(240, 240, 240);
}

button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.25em;  
  line-height: 20px;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--blue);
  color: white;
  margin: 20px;
}

/* ---------- styling the CityList grid Cards ----------*/

.city-list-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,  minmax(320px, 1fr ));
  /* grid-template-columns: repeat(3, 1fr); */
  grid-gap: 2.5em;
  padding:  2.5em 5em;
  justify-items: center;
}

.city-list-card {
  width: 400px;
  /* height: 300px; it is also workign with height, but not neccessery*/
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
 position: relative;
 /* text-align: center; */
}

.city-list-bg{
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  filter: blur(2px);
} 

.city-list-details{
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(252, 250, 250);
  vertical-align: bottom;
  padding-top: 50px;
  text-align: center;
  letter-spacing: 1.5px;;
}

/*------city property grid Cards-----------*/

.city-property-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,  minmax(320px, 1fr ));
  grid-gap: 2.5em;
  padding: 5em;
}

  .property-list-card {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center;  */
   position: relative;
   text-align: center;
   
  }

  .property-bg-img{
    width: 100%;
    height: 52%;
    border-radius: 24px 24px 0px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .property-list-details{
    width: 100%;
    height: 48%;
    /* border-radius: 24px; */
    color: rgb(252, 250, 250);
  
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    /* vertical-align: bottom;
    padding-top: 50px;
    text-align: center; */
    /* letter-spacing: 1.5px;; */
  }

  .property-price-and-details{
    width: 100%;
    height: 32%;
    background: linear-gradient(100deg, rgba(0,255,135,1) 0%, rgba(96,239,255,1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .pr-price{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
  }

  .pr-details{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
   }

   .pr-type-address{
    border: solid 0.5px #CED3D8;
    height: 43%;
    color: black;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   }

   /* .fa-icons{
  line-height: 2em;
  padding: 0 5px 0 45px;
} */


   .property-view-btn{
    width: 100%;
    height: 25%;
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;;
    background-color: #FFFFFF;
    margin: 0;
    border: none;
    vertical-align: bottom;
    border-radius: 0 0 24px 24px;
    border: solid 0.5px #CED3D8;

   }

   /*----------------------home details styling ---------------*/

   .home-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px ;
    padding: 80px;
    justify-content: space-evenly;
   
    align-items: center;

   }

   .home-grid-item{
    border: 1px solid rgba(38, 144, 155, 0.8);

    
   }
 


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.detailedPageTestMimi {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:rgb(200, 50, 230) solid 2px; */
}